<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjuU90kKf2C-lVyb-PBqosQLIn22gdXwo</string>
	<key>GCM_SENDER_ID</key>
	<string>743880056595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>review.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-89411</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-89411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743880056595:ios:49025f9bf513603c9044e6</string>
</dict>
</plist>